body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --baby-blue: rgb(129, 135, 241);
  --dark-blue: rgba(0, 0, 255);
  --translucent-white: rgba(255, 255, 255, 0.28);
  --translucent-grey: rgba(0, 0, 0, 0.37);
}

body {
  background-color: lightblue;
}

.hidden {
  display: none;
}

.center-top {
  margin: auto;
  width: 50%;
  height: 50%;
  text-align: center;
}

.background-scroll {
  height: 20%;
  width: 10%;
  left: -1500px;
  top: -300px;
  position: fixed;
  display: none;
  transform: translate(1000px, 500px);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  display: flex;
}

.column {
  width: 500px;
}

.column2 {
  flex: 30%;
}

h1 {
  color: vara(--dark-blue);
}

h2 {
  color: var(--baby-blue);
}

img {
  height: 60%;
  width: 60%;
}

iframe {
  margin-top: 1em;
}

input {
  width: 100%;
  border: 4px solid var(--baby-blue);
  border-radius: 5px;
  color: grey;
  font-style: italic;
  font-size: 18px;
}

#link-input {
  width: 75%;
}

/* .loading-mask {
  background: url(./images/Loading2....gif) center center no-repeat;
  background-size: 200px 200px;
} */

button {
  background-color: white;
  border: none;
  border-radius: 8px;
  color: navy;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: var(--baby-blue);
  color: white;
}

#submit-button {
  margin: 25px;
}

a {
  color: var(--baby-blue);
}

.major-title {
  font-size: max(100px, 6vw);
  color: white;
  padding: 0%;
  margin: px;
  text-align: center;
  position: relative;
  transform: translate(0, 10%);
}

/* hard set value to make the title adjust upward when broken into 3 lines of text at font size max(100px, 6vw) */
@media only screen and (max-width: 763px) {
  .major-title {
    transform: translate(0, 0%);
  }
}

#home-button {
  min-width: 175px;
  max-width: 300px;
}

.nav-bar {
  position: relative;
  top: 5;
  width: 20%;
  text-align: left;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  margin-left: 5px;
  margin-top: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 97%;
  color: var(--baby-blue);
  text-align: right;
}

.card {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding: 20px;
  margin: 5%;
  box-shadow: 12px 12px 2px 1px var(--dark-blue);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(165, 238, 221);
  color: navy;
}

.completed-todo {
  background-color: green;
  color: white;
}

.incomplete-todo {
  background-color: rgb(255, 183, 0);
  color: red;
}

.card:hover {
  box-shadow: 12px 12px 2px 1px var(--dark-blue);
}

.progress-bar-outer {
  background-color: rgba(245, 245, 220, 0.5);
  border-radius: 10px;
  height: 20px;
  border: 1px var(--baby-blue);
  width: 100%;
  position: relative;
  margin: 10px;
}

.progress-bar-inner {
  background-color: var(--baby-blue);
  border-radius: 10px;
  height: 20px;
  width: 0%;
  font-size: 16px;
  color: white;
  text-align: center;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-display {
  background-color: var(--translucent-white);
  border-radius: 10px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
}

/* #playlist-display {
  background-color: var(--translucent-white);
  border-radius: 10px;
  padding-bottom: 100px;
  width: max(60vw, 600px);
  height: max(40vw, 40px);
} */

#playlist-data {
  margin-top: -10px;
}

#playlist-buttons {
  margin-top: 30px;
}

.playlist-buttons {
  background-color: var(--translucent-grey);
  color: white;
  margin-left: 25px;
  margin-right: 25px;
  width: 200px;
  text-align: center;
}

#track-preview-table {
  margin: 20px;
  background-color: var(--translucent-white);
}

th,
td,
thead {
  width: auto;
  padding-left: 25px;
  text-align: left;
}

/* #data-input-components {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  padding: 20px;
  padding-left: 75px;
  padding-right: 75px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
} */

#data-input-components h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.moveable-image {
  position: absolute;
}

#notifications {
  width: 50%;
  max-width: 600px;
  padding: 10px;
  margin: 40px auto;
  text-align: center;
  font-size: 18px;
}

.notify-good {
  color: rgb(88, 139, 11);
  background-color: rgb(231, 255, 231);
  border-radius: 5px;
}

.notify-bad {
  color: rgb(155, 32, 32);
  background-color: rgb(248, 202, 191);
  border-radius: 5px;
}
